@import './variables.css';
@import './fonts.css';
@import './Default.css';
@import './TopBar.css';

/* Header Styles begin here*/

.main-header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--dark-color);
}

.main-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__link-icon {
    margin-right: 0.2rem;
}