@import './variables.css';
@import './fonts.css';

/* Default Styles begin here */

html {
    box-sizing: border-box;
    font-size: 56.5%;
}

body {
    line-height: 1.6;
    font-family: var(--primary-font);
    direction: rtl;
}

*,
*::after,
*::before {
    outline: none;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 400ms ease;
}

a:hover {
    color: #1e83f0;
}

i {
    user-select: none;
}

/*Default Styles end here*/

/* Nav-bar Styles begin here*/

.top-bar {
    color: var(--dark-color);
}

.top-bar__link {
    padding: 0 0.5rem;
}

.top-bar__link {
    padding: 0 0.3rem;
}

.top-bar__email,
.top-bar__phone {
    display: flex;
    justify-items: center;
    align-items: center;
}

.top-bar__email-icon,
.top-bar__phone-icon {
    color: var(--primary-color);
}

/* Nav-bar Styles end here*/

/* Header Styles begin here*/

.main-header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--dark-color);
}

.main-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__link-icon {
    margin-right: 0.2rem;
}

/* Drop-drown Styles begin here */

.main-header__dropdown {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    background-color: white;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.2rem;
    width: 14rem;
    padding: 0.5rem 0.5rem;
    z-index: 1;
    border-bottom: 2px solid var(--primary-color);
    opacity: 0;
    visibility: hidden;
}

.main-header__item:hover .main-header__dropdown {
    opacity: 1;
    visibility: visible;
    top: 2rem;
}

.main-header_dropdown-link {
    display: block;
    padding: 0 1rem;
    color: var(--dark-color);
    font-size: 2rem;
}

/* Landing Section styling begins here */

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/Blog/Memories.of.Murder.2003.1080p.BluRay.10bit.HEVC.6CH.MkvCage.SoftSub.AvaMovie.mkv_snapshot_02.02.18_[2024.06.20_16.01.38].jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: var(--white-color);
    padding: 5% 1%;
}
/* Landing Section styling begin here */

/* Helper Classes styling begin here*/

.title {
    color: #444446;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    transform: rotate(10deg);
}

.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250%;
    height: 40%;
    background-color: rgba(43, 206, 86, 0.2);
}

.swiper-slid .courses-content__card-item:hover {
    translate: unset;
}